name: Windows Vim/neovim

on:
  push:
    paths-ignore:
    - 'docs/**'
    - 'README.md'
    branches:
    - master
  pull_request:
    branches:
    - master


jobs:
  test:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        name:
          - vim-v8.2
          - vim-v8.0
          - neovim-nightly
          - neovim-v0.4.3
          - neovim-v0.2.0
        include:
          - name: vim-v8.2
            vim-url: https://github.com/vim/vim-win32-installer/releases/download/v8.2.0230/gvim_8.2.0230_x64.zip
            vim-ver-path: vim82
          - name: vim-v8.0
            vim-url: https://github.com/vim/vim-win32-installer/releases/download/v8.0.0003/gvim_8.0.0003_x64.zip
            vim-ver-path: vim80
          - name: neovim-nightly
            neovim-version: nightly
          - name: neovim-v0.4.3
            neovim-version: v0.4.3
          - name: neovim-v0.2.0
            neovim-version: v0.2.0

    steps:
    - name: Install Vim
      if: startsWith(matrix.name, 'vim')
      run: |
        Invoke-WebRequest -Uri ${{ matrix.vim-url }} -OutFile vim.zip
        Expand-Archive -Path vim.zip -DestinationPath $env:USERPROFILE
    - name: Install Neovim
      if: startsWith(matrix.name, 'neovim')
      run: |
        Invoke-WebRequest -Uri https://github.com/neovim/neovim/releases/download/${{ matrix.neovim-version }}/nvim-win64.zip -OutFile neovim.zip
        Expand-Archive -Path neovim.zip -DestinationPath $env:USERPROFILE
    - name: Install vim-themis
      run: |
        git clone --depth 1 --branch v1.5.4 --single-branch https://github.com/thinca/vim-themis $env:USERPROFILE/themis

    - uses: actions/checkout@v2

    - name: Run test with Vim
      if: startsWith(matrix.name, 'vim')
      timeout-minutes: 10
      run: |
        $env:PATH = "$env:USERPROFILE\vim\${{ matrix.vim-ver-path }};$env:PATH"
        $env:PATH = "$env:USERPROFILE\themis\bin;$env:PATH"
        $env:THEMIS_VIM = "vim"
        vim --version
        themis --version
        themis

    - name: Run test with Neovim
      if: startsWith(matrix.name, 'neovim')
      timeout-minutes: 10
      run: |
        $env:PATH = "$env:USERPROFILE\Neovim\bin;$env:PATH"
        $env:PATH = "$env:USERPROFILE\themis\bin;$env:PATH"
        $env:THEMIS_VIM = "nvim"
        nvim --version
        themis --version
        themis
